<h5 style="text-align: center">Current Project: Basic Data</h5>
<div class="form-group row">
	<label for="formTitle" class="col-sm-12 col-form-label">
		<b>Project informations</b>
	</label>
</div>
<div class="form-group row">
	<label for="pblTitle" class="col-sm-2 col-form-label">Project Title: {{ data.project.title }}</label>
</div>
<div class="form-group row">
	<label for="ideaDescription" class="col-md-2">Description: {{ data.project.description }}</label>
</div>
<div class="form-group row">
	<label for="learningGoals" class="col-sm-2 col-form-label">Learning Goals:</label>
</div>
<div class="form-group row">
	<label for="resources" class="col-sm-2 col-form-label">Resources:</label>
</div>
<div class="form-group row">
	<label for="participants" class="col-sm-2 col-form-label">Participants:</label>
</div>
<div class="form-group row">
	<label for="deadline" class="col-sm-2 col-form-label">Deadline:</label>
</div>
