<div class="form-group">
	<div class="form-row">
		<div class="col-md-12">
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addTaskModal">
				Add Task
			</button>
		</div>
	</div>
</div>
{{#ifeq user.role 'student' }}
<div class="form-group">
	<div class="form-row">
		<h5>You do not have any project yet. Please enroll in a project or contact with your teacher</h5>
	</div>
</div>
{{/ifeq}}
{{#ifeq user.role 'teacher' }}
	<div class="form-group">
		<div class="form-row">
			<h5>You do not have any project yet. Please create project and add your students in the project then generate it</h5>
		</div>
	</div>
{{/ifeq}}

<!-- Modal for add Task -->
<div class="modal fade" id="addTaskModal" tabindex="-1" role="dialog" aria-labelledby="addTaskModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="addTaskModalLabel">Add New Task</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<!-- add Task form start -->
				<form method="post">
					<input type="hidden" name="action" value="add.Task">
					<div class="form-group">
						<div class="form-row">
							<div class="col-md-12">
								<label for="taskTitle">Task Title:</label>
								<input type="text" name="name" class="form-control" placeholder="Write a title for the task..">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="form-row">
							<div class="col-md-12">
								<label for="taskDescription">Content:</label>
								<textarea name="description" class="form-control" id="ideaGen" rows="3" placeholder="Give details about task">{{ data.project.description }}</textarea>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="form-row">
							<div class="col-md-12">
								<label for="assignTo">AssignTo:</label>
								<input type="text" name="assignTo" class="form-control" id="select-assign-to" placeholder="Assign to..">
							</div>
						</div>
					</div>
					<div class="form-actions">
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-primary">Add</button>
						</div>
					</div>
				</form>
				<!-- add Task form end -->
			</div>
		</div>
	</div>
</div>
